<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			table {
				border: 1px solid black;
			}
			
			table {
				width: 100%;
			}
			
			th,td{
				height: 50px;
			}
			th,	td {
				border-bottom: 1px solid #ddd;
			}
			
		</style>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
			<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
	</head>

	<body>
		<div id="app">
			<table>
				<tr>
					<th>序号</th>
					<th>商品名称</th>
					<th>商品价格</th>
					<th>购买数量</th>
					<th>操作</th>
				</tr>
				<tr v-for="(data,index) in Json">
					<td>{{data.id}}</td>
					<td>{{data.name}}</td>
					<td>{{data.price}}</td>
					<td><button @click='delect(index)'>-</button><input type="text" v-model='data.count' /><button @click='add(index)'>+</button></td>
					<td><button @click='shuchu'>删除</button></td>
				</tr>
			</table>
			<span>总价：{{tatalpris}}</span>
			<button @click='get(index)'>获取数据</button>
		</div>
		<script>
			
			var vm = new Vue({
				el: "#app",
				data: {
					Json: '',
					tatalpris:''
				},
				methods:{
					ss:function(){
						var value=0;
						for(var i=0;i<this.Json.length;i++){
							value+=this.Json[i].price*this.Json[i].count;
						}
						console.log(value)
						this.tatalpris=value;
						
					},
					add:function(index){
					 this.Json[index].count++;
					 this.ss()
					},
					delect:function(index){
						this.Json[index].count--;
						this.ss()
					},
					get:function(){
						this.$http.get('sss.json').then(function(res){
							console.log(res.body);
							this.Json=res.body;
						})
					},
					shuchu:function(index){
						this.Json.splice(index,1)
						console.log(this.Json)
					}
				}
			})
			
			vm.get();
			vm.ss();
		</script>
	</body>

</html>