<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://cdn.staticfile.org/vue/2.5.21/vue.common.dev.js"></script>
	</head>
	<body>
		<!--<div id="app">
			<p v-if='greeting'> hello</p>
		</div>-->
		
		<div id="app">
			<form>
				名字:<input type="text" v-model='data.name'/>
				电话：<input type="text" v-model='data.ph'/>
			</form>
			名字:<span>{{data.name}}</span>
			电话：<span>{{data.ph}}</span>
		</div>
		
		<script>
			var exampleVM2=new Vue({
				el:'#app',
				data:{
					data:{
						name:'张昌国',
						ph:123456789
					}
				}
			})
		</script>
	</body>
</html>
